/* Settings page */
.js #idx_metabox .handlediv,
#idx_metabox h2.hndle {
	display: none;
}
.js #equity_metabox .handlediv,
#equity_metabox h2.hndle {
	display: none;
}

@mixin clearfix(){
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}
@mixin icon_dashicons( $glyph: "\f333"){
	font-family: 'Dashicons';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: $glyph;
}
@mixin ir(){
	display: block;
	text-indent: -99999px;
	position: relative;
	height: 1em;
	width: 1em;
}
/* listing gallery */
#wplpro-listing-images {
	.inside {
			margin: 0;
			padding: 0;

			.add_listing_images {
					padding: 0 12px 12px;
			}

			#listing_images_container {
					padding: 0 0 0 9px;

					ul {
							@include clearfix();
							margin: 0;
							padding: 0;

							li.image,
							li.add,
							li.wc-metabox-sortable-placeholder {
									width: 80px;
									float: left;
									cursor: move;
									border: 1px solid #d5d5d5 ;
									margin: 9px 9px 0 0;
									background: #f7f7f7 ;
									border-radius: 2px;
									position: relative;
									box-sizing: border-box;

									img {
											width: 100%;
											height: auto;
											display: block;
									}
							}

							li.wc-metabox-sortable-placeholder {
									border: 3px dashed #dddddd ;
									position: relative;

									&:after {
											@include icon_dashicons( "\f161" );
											font-size: 2.618em;
											line-height: 72px;
											color: #ddd;
									}
							}

							ul.actions {
									position: absolute;
									top: -8px;
									right: -8px;
									padding: 2px;
									display: none;

									li {
											float: right;
											margin: 0 0 0 2px;

											a {
													width: 1em;
													height: 1em;
													margin: 0;
													height: 0;
													display: block;
													overflow: hidden;

													&.tips {
															cursor: pointer;
													}
											}

											a.delete {
													@include ir();
													font-size: 1.4em;

													&:before {
															@include icon_dashicons( "\f153" );
															color: #999;
													}

													&:hover {
															&:before {
																	color: red;
															}
													}
											}
									}
							}

							li:hover ul.actions {
									display: block;
							}
					}
			}
	}
}

.idx-import-option {
	width: 30%;
	margin: 0 1%;
	float: left;
	text-align: center;
}
.idx-import-option .dashicons {
	display: block;
	font-size: 50px;
	height: 50px;
	width: 50px;
	margin: 10px auto;
}
.idx-import-option.update-all .dashicons {
	color: #46B450;
}
.idx-import-option.update-noimage .dashicons {
	color: #FFB900;
}
.idx-import-option.update-none .dashicons {
	color: #DC3232;
}
.idx-import-option.sold-keep .dashicons {
	color: #46B450;
}
.idx-import-option.sold-draft .dashicons {
	color: #00A0D2;
}
.idx-import-option.sold-delete .dashicons {
	color: #DC3232;
}
.idx-import-option input[type=radio] + p {
	padding: 15px;
}
.idx-import-option input[type=radio]:checked + p {
	background: #fff;
}

/* Dashboard widget */
#dashboard_right_now a.listing-count:before,
#dashboard_right_now span.listing-count:before {
	content: "\f102";
}

/* Term edit page */
.wpl-term-image {
	max-width: 80px;
	height: auto;
}

/* Edit listing screen */
#wp-_listing_gallery-media-buttons #idx-shortcode {display: none;}
